.body {
    font-family: Arial, sans-serif;
    padding: 20px;
    /* border: 1px solid white; */
    margin-left: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.form-container {
    width: 500px;
    margin: 0 auto;
    background: #333335;
    padding: 20px;
    border-radius: 8px;
}
.form-container input,select{
    background-color: #fcf8f8;
    color: #000000;
}
h2 {
    text-align: center;
    color: #eeecec;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
input[type="file"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group-inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group-inline label {
    margin-right: 10px;
    font-weight: normal;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #218838;
}
.form-group img{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    object-fit: cover;
}