.main-container {
  padding: 20px;
  background-color: #333333;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #333333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  text-align: center;
  color: #f4eeee;
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 120px;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  font-size: 14px;
}

input[type="file"] {
  margin-top: 10px;
  width: 95px;
  padding: 5px;
}

input:disabled,
select:disabled {
  background-color: #e9e9e9;
  cursor: not-allowed;
}

.search {
  position: absolute;
  right: 30px;
  top: 40px;
  cursor: pointer;
  font-size: 18px;
  color: #888;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  text-align: left;
  padding: 12px 15px;
  vertical-align: middle;
}

th {
  background-color: #4CAF50;
  color: white;
  text-align: center;
}

td {
  background-color: #f9f9f9;
  text-align: center;
}

td img {
  width: 50px;
  height: 50px;
  object-fit: cover; /* Ensures all images are uniform */
  border-radius: 4px;
}

.action-buttons {
  display: flex;
  justify-content: center;
}
.inputtag input{
  background-color: white;
    width: 250px;
    padding: 20px;
    color: #333335;
    height: 15px;
    border-radius: 9px;
    font-size: 15px;
}
.save-btn {
  padding: 6px 10px;
  font-size: 14px;
  background-color: green;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.edit-btn{
  padding: 6px 10px;
  font-size: 14px;
  background-color: #333333;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.close-btn{
  padding: 6px 10px;
  font-size: 14px;
  background-color: rgb(153, 7, 7);
  color: #e9e9e9;
  cursor: pointer;
  border-radius: 5px;
}
.btns{
  display: flex;
  flex-direction: column;
}