.navItems{
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
}
.per{
    display: flex;
    justify-content: start;
    border-right: 1px solid white;
    width: 270px;
    font-size: 20px;
}
.icon{
    width: 50px;
    height: 50px;
    padding: 20px;
}
.h{
    font-size: 30px;
}
.navItems button{
    width: 100px;
    height: 50px;
    margin: 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-color: aliceblue;
    color: black;
    font-size: 15px;
}
.navItems button:hover{
    background-color: gray;
    color: aliceblue;
}